# dependencies
/node_modules

# next.js
/.next/
/out/
/build

# testing
/coverage

# typescript
*.tsbuildinfo
next-env.d.ts

# env — nunca commitear valores (sí el .example)
.env
.env.local
.env*.local
.env*
!.env.local.example

# misc
.DS_Store
*.pem
npm-debug.log*

# vercel
.vercel
